@tailwind base;
@tailwind components;
@tailwind utilities;

/* text cursor color change

.custom-input::-webkit-input-placeholder {
  color: gray;
}

.custom-input::-moz-placeholder {
  color: gray;
}

.custom-input:-ms-input-placeholder {
  color: gray;
}

.custom-input::-ms-input-placeholder {
  color: gray;
}

.custom-input::placeholder {
  color: gray;
}

.custom-input:focus::-webkit-input-placeholder {
  color: gray;
  opacity: 1;
}

.custom-input:focus::-moz-placeholder {
  color: gray;
  opacity: 1;
}

.custom-input:focus:-ms-input-placeholder {
  color: gray;
  opacity: 1;
}

.custom-input:focus::-ms-input-placeholder {
  color: gray;
  opacity: 1;
} */

.custom-input:focus::-webkit-input-placeholder {
  color: gray;
  opacity: 1;
}

.custom-input:focus::-moz-placeholder {
  color: gray;
  opacity: 1;
}

.custom-input:focus:-ms-input-placeholder {
  color: gray;
  opacity: 1;
}

.custom-input:focus::-ms-input-placeholder {
  color: gray;
  opacity: 1;
}

.custom-input:focus::placeholder {
  color: gray;
  opacity: 1;
}

/* write a new task bar */

.animated-square {
  transition: transform 0.2s ease-in-out;
}

.input-slid-in {
  transition: margin-left 0.2s ease-in-out;
  margin-left: -20px;
}

.input-slid-out {
  transition: margin-left 0.2s ease-in-out;
  margin-left: 0;
}

.task-bar {
  transition: background-color 0.3s ease-in-out;
}

@-webkit-keyframes strikethrough {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes strikethrough {
  0% {
    width: 0;
  }
  100% {
    width: 45%;
  }
}

.rotate-on-hover:hover {
  transform: rotate(180deg);
  transition: transform 0.6s ease;
}
